<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p00_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{89,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{89,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{89,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{89,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{177,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{177,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{177,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{177,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{265,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01_clubs_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{265,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{265,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{265,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{353,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{353,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{353,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{353,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{441,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{441,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{441,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{441,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{529,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{529,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02_diamonds_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{529,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{529,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{617,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{617,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{617,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{617,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{705,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{705,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{705,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{705,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{793,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{793,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{793,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03_hearts_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{793,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{881,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{881,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{881,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{881,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{969,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{969,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{969,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{969,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1057,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1057,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1057,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1057,367},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04_spades_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1145,1},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p05_joker_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1145,123},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p05_joker_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{1145,245},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgf_poker.png</string>
            <key>size</key>
            <string>{1232,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e81e8694ac7e5458cf706fad2a29cd:3d3da97d703dcf642de3f7fe404392a4:e034433968c1c27a0575831b8b14f619$</string>
            <key>textureFileName</key>
            <string>bgf_poker.png</string>
        </dict>
    </dict>
</plist>
